<section data-ng-controller="editShowCtrl" data-ng-init="getShow()">
  <div>
    <h1>Wow, what and awesome show!</h1>
    <div data-ng-hide="edit">
      <h3>Date of show: {{show.date | date: 'EEE, M/dd'}}</h3>
      <p>Bands: {{show.bands}}</p>
      <p>Registered Bands: {{show.regBands}}</p>
      <p>Venue: {{show.venue}}</p>
      <p>Cover: {{show.cost | currency}}</p>
      <p>Show Id: {{show._id}}</p>
      <p>
        <button data-ng-click="edit=true">Edit</button>
      </p>
    </div>
     <form data-ng-show="edit">
      <ul>
        <li>
          <label for="">Date of show: </label>
          <input type='date' data-ng-model="updateShow.date">
        </li>
        <li>
          <label for="">Bands: </label>
          <input type="text" data-ng-model="updateShow.bands">
        </li>
        <li>
          <label for="">Registered Bands: </label>
        <input type="text" data-ng-model="updateShow.regBands">
        </li>
        <li>
          <label for="">Venue: </label>
          <input type="text" data-ng-model="updateShow.venue">
        </li>
        <li>
          <label for="">Cover: $</label>
          <input type="tel" data-ng-model="updateShow.cost">
        </li>
        <li>
          <button data-ng-click="putShow(updateShow)">Save</button>
          <button data-ng-click="cancel()">Cancel</button>
          <button data-ng-click="delShow()">Delete</button>
        </li>
    </ul>
    </form>
  </div>
</section>

